/**** Home Styles ****/
section#join-us-home {
  background-color: var(--pry-color);
  background-image: url("../images/join-us-bg.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  height: 90vh;
}
p.leadership-home-desc {
  font-size: 22px;
  font-family: var(--font-medium);
}
.leadership-home-txt {
  max-width: 575px;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  left: 10%;
}

@media (max-width: 992px) {}

@media (max-width: 600px) {
  .leadership-home-txt {
    left: 0;
  }
}
/**** end of Home Styles ****/

/**** Join-Us-Collapsible Styles ****/
.ju-collapsible-wrapper {
  margin: 80px 0;
}
.ju-collapsible-wrapper .collapsible {
  border: none;
  box-shadow: none;
}
.ju-collapsible-wrapper .collapsible-header {
  font-family: var(--font-xbold);
  font-size: 40px;
  color: #bbbbbb;
  padding: 1rem 0;
  border-bottom-color: black;
}
.ju-collapsible-wrapper .active .collapsible-header {
  color: #747474;
}
.ju-collapsible-wrapper .collapsible-body {
  padding: 2rem 0;
}
.ju-collapsible-wrapper img.down-arr {
  transition: transform 1.2s;
}
.ju-collapsible-wrapper .active img.down-arr {
  transform: rotate(180deg);
}
p.ju-txt {
  font-size: 18px;
  color: #747474;
  font-family: var(--font-medium);
}

@media (max-width: 600px) {
  .ju-collapsible-wrapper .collapsible-header {
    font-size: 24px;
  }
}
/**** end of Join-Us-Collapsible Styles ****/
